
body { 
            font-family: Georgia, monospace;
            font-size: 100px;
            text-align: center;
            background-color: #f1ebcf;
            cursor:url('pointer1.png') 4 4 auto;
            width: 100%;
        }
   button {
     cursor:url('pointer2.png') 4 4, pointer;}

    
/*STRUCTURE*/

    p {
        font-size: 30px;
    }
    
    .pointer1 {
        display: none;
        cursor:url('pointer1.png') 4 4, default;
        }
    .backbutton2 {
        
        cursor:url('pointer2.png') 4 4, default;
        
    }

    h1 {
        position: absolute; 
        font-family: georgia;
        font-size: 238px;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        
        
        color: #a16210;
        margin: 0;

        background: linear-gradient(to bottom, #772A00 20%, #a16210 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent ;
        align-items: center;
        text-align: center;
   
        transition:  0.3s;
        cursor: pointer;

    }
   
    

    h3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 400px;
        width: 600px;
        
        font-family: 'Arial Narrow' ; 
        font-size: 30px;
        color: #772A00;
    }
.pics-container {
    position: relative;
    align-content: center;
    width: 99%;
    padding-top: 700px;

}    

.catpic {
    width: 500px;
    height: 500px;
    z-index: 2;
}
.catpic:hover {
    transform: scale(1.3,1.3);
    filter: brightness(100.7%);
    transition: 0.7s;
    z-index: 3;
}
.backbutton2 {
    position: absolute;
        top: -70px;
        height: 350px;
        width: 350px;
        left: 10px;
    }
    .backbutton2:hover {
     transform: scale(1.1);
    filter: brightness(112%);
    }