body { 
            cursor: none;
            font-family: Georgia, monospace;
            font-size: 100px;
            text-align: center;
            background-color: #f1ebcf;
            
        }
            .custom-cursor {
        width: 80px;
        height: 80px;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 88;
        transition: 5ms;
        pointer-events: none;
        display: flex;

    }
/*Global settings*/

    
/*STRUCTURE*/
    .pointer1 {
        display: none;
        cursor:url('pointer1.png') 4 4, default;
        width: 20px;
        height: 20px;
        }
    
     h1 { 
        position: absolute;

        font-size: 200px;
        color: #a16210;

        position: absolute;
        width: 2000px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        font-size: 30px;
    }

    .gradienttitletext {
        background: linear-gradient(to bottom, #772A00 20%, #a16210 80%);
        -webkit-background-clip: text; background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    

/*DECORATIONS AND ELEMENTS*/



    .decoration {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-107%);
        width: 460px;
    }
    .decoration2 {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(40%);
       
        
        width: 300px;
    }

    .playbuttonshade {
        position: absolute;
        width:300px;
        left: 50%;
        transform: translateX(-50%);
        top: 350px;
    }

    .playbutton {
        position: absolute;
        width:300px;
        left: 50%;
        transform: translateX(-50%);
        top: 350px;
        
    }
    .playbutton:hover {
        
        filter: brightness(130%);
    }   


    .photodec {
        position: absolute;
        top: 300px;
        left: 3%;

        width: 667px;
    }
    .photodec:hover {
        transform: scale(1.2,1.2);
        filter: brightness(102%);
        transition: 1s;
    }






    






























            











